* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.maincontainer {
  background-color: #1f2937;
  height: 64vh;
}
nav {
  display: flex;
  justify-content: space-around;
  color: white;
}
nav h2 {
  font-size: 24px;
  color: #f9faf8;
}
nav div {
  display: flex;
}
nav div p {
  margin-right: 1em;
}

/* first container */
section {
  display: flex;
  justify-content: space-around;
}
img {
  width: 40%;
  margin-right: 16vh;
}
section div {
  margin-left: 30.5vh;
}
section div h1 {
  font-size: 48px;
  font-weight: 850;
  color: #f9faf8;
  margin-bottom: 0;
}
section div p {
  font-size: 18px;
  color: #e5e7eb;
}
section div button {
  background-color: #3882f6;
  color: white;
  width: 13vh;
  height: 4vh;
  border-radius: 5px;
  border: none;
}

/*second container*/
.main2ndcontainer {
  display: flex;
  justify-content: center;
}

.main2ndcontainer .parent {
  width: 24vh;
  margin-right: 2vh;
}
.secondcontainer h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 850;
  color: #1f2937;
}

.secondcontainer .child {
  border: solid blue;
  border-radius: 5px;
  width: 21vh;
  height: 21vh;
}
